## Contact API
CONTACT_EMAIL="you@fraaza-enterprises.com"
RESEND_API_KEY="re_XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
TELNYX_API_KEY="KEYXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
TELNYX_PHONE_NUMBER="+1616XXXXXXX"
OWNER_PHONE_NUMBER="+1616XXXXXXX"

## Marketing
GOOGLE_REVIEW_URL="https://www.google.com/search?q=Fraaza+Enterprises+Inc+Reviews#lrd=0x881990e04401c901:0x694e8308491078e7,3,,,,"

